{% extends "auth/auth_base.html" %}{% import "bootstrap/wtf.html" as wtf %}
{% block title_text %}Reset Password{% endblock %}
{% block body_attribs %} class="signup-page"{% endblock %}
{% block main_div %}class="signup-box"{% endblock%}
{% block logo_text%}New Password{% endblock %}
{% block page_content %}
<div class="card">
    <div class="body">
        <form id="forgot_password" method="POST">
            {{ form.hidden_tag() }}
            <div class="msg">
                Reset Your Password
            </div>

            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">vpn_key</i>
                        </span>
                <div class="form-line">
                    {{ form.password(class_="form-control", placeholder="Enter New Password") }}
                </div>
                {{ render_fielderrors(form.password) }}
            </div>
            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">vpn_key</i>
                        </span>
                <div class="form-line">
                    {{ form.password2(class_="form-control", placeholder="Confirm Password") }}
                </div>
                {{ render_fielderrors(form.password2) }}
            </div>
            {{ form.submit(class_="btn btn-block btn-lg bg-pink waves-effect")}}
            <div class="row m-t-20 m-b--5 align-center">
                <a href="{{ url_for('auth.login') }}">Sign In!</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}{{ super() }}
<script src="http://s3.amazonaws.com/cashvaluesolution-assets/js/sign-up.js"></script>
{% endblock %}