AfricastalkingGateway
alembic
celery
Flask
Flask-And-Redis
Flask-Bootstrap
Flask-HTTPAuth
Flask-Login
Flask-Migrate
Flask-Moment
Flask-QRcode
Flask-Script
Flask-SQLAlchemy
Flask-SSLify
Flask-Uploads
Flask-WTF
geopy
gunicorn
itsdangerous
psycopg2
python-dateutil
raven
redis
SQLAlchemy
WTForms
blinker
pdfkit