AfricastalkingGateway==1.8
blinker==1.4
ephem==3.7.6.0
Flask==0.12.2
Flask-And-Redis==0.7
Flask-Bootstrap==3.3.7.1
Flask-Excel==0.0.7
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.0
Flask-Migrate==2.1.1
Flask-Moment==0.5.1
Flask-QRcode==1.0.1
Flask-S3==0.3.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-SSLify==0.1.5
Flask-Uploads==0.2.1
Flask-WkHTMLtoPDF==0.1.0
Flask-WTF==0.14.2
geopy==1.11.0
gunicorn==19.7.1
hashids==1.2.0
itsdangerous==0.24
pdfkit==0.6.1
pexpect==4.2.1
psycopg2==2.7.3.1
pyexcel==0.5.6
pyexcel-io==0.5.4
pyexcel-webio==0.1.4
pyexcel-xls==0.5.4
pyexcel-xlsx==0.5.4
PyPDF2==1.26.0
python-dateutil==2.6.1
qrcode==5.3
raven==6.1.0
redis==2.10.6
reportlab==3.4.0
s3transfer==0.1.11
xhtml2pdf==0.0.6
