
{% extends "base.html" %} {% block title %}{{ current_user.username }} | Update Profile{% endblock %}{% block users %}class="active"{% endblock %} {% block all_users %}class="active"{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="card">
        <div class="header"><h4>{{ user.username }}</h4></div>
        <div class="body">
                <form id="sign_up" method="post" action="" role="form" name="register">
                    {{ form.hidden_tag() }}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            {{ form.username(class_="form-control", placeholder="Username",required=True, autofocus=True)}}
                        
                        </div>
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">title</i>
                            </span>
                            <div class="form-line">
                                {{ form.name(class_="form-control", placeholder="Your Real Name",required=True, autofocus=True)}}
                            
                            </div>
                        </div>
                        
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            {{ form.email(class_="form-control", placeholder="Email Address", required=True)}}
                        </div>
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">phone</i>
                            </span>
                            <div class="form-line">
                                {{ form.phone_number(class_="form-control", placeholder="+254 7XXXXXXXX", required=True)}}
                            </div>
                        </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">location_city</i>
                            </span>
                            <div class="form-line">
                                {{ form.location(class_="form-control", placeholder="Your City", required=True, autofocus=True)}}
                            
                            </div>
                        </div>

                    <div class="row clearfix">
                        <a type="button" class="btn btn-default btn-link btn-lg waves-effect" href="{{ url_for('.get_user', id=current_user.id)}}">Cancel</a>
                        {{ form.submit(class_="btn bg-black btn-lg pull-right waves-effect")}}
                    </div>
                    
                </form>
            </div>
    </div>
</div>
{% endblock %}
