{% extends "base.html" %}
{% block page %}All Members{% endblock %}
{% block users %}class="active"{% endblock %}
{% block all_users %}class="active"{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="block-header">
    <ol class="breadcrumb breadcrumb-col-orange">
        <li class="active"><i class="material-icons">home</i> All members</li>
        <li><a href="javascript:void()"><i class="material-icons">event_available</i>User Details</a>
        </li>
        <li><a href="javascript:void()"><i class="material-icons">mode_edit</i> Edit User Details</a>
        </li>
    </ol>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="container-fluid">
                    <style>
                        #col1, #col2, #col3 {
                           margin-bottom: 0px;
                        }

                    </style>
                    <div class="row clearfix">
                        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6" id="col1">
                            <h4 class="text-info">
                                All Members
                            </h4>
                        </div>

                        <div class="col-md-9 col-lg-9 col-xs-6 col-sm-6" id="col2">
                            <button type="button"
                                    class="btn bg-green btn-circle waves-effect waves-circle waves-float pull-right"
                                    data-toggle="modal" data-target="#add_userModal">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row clearfix">
                        {% if users %}
                        <div class="table-responsive">
                            <table class="table table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>user #</th>
                                    <th>Phone Number</th>
                                    <th>member since</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr class="odd gradeX">
                                    <td><a href="{{ url_for('main.get_user', slug=user.slug) }}">{{ user.username }}</a>
                                    </td>
                                    <td>{{ user.code }}</td>
                                    <td>{{ user.phone_number }}</td>
                                    <td>{{ moment(user.member_since).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="body">
                <h4>No users registered with the system yet</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <!--add user modal-->
    <div class="modal fade" id="add_userModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="card">
                <div class="body container-fluid">
                    <h4 class="title-text">Register a new membership</h4>
                    <hr>
                    <form id="add_userForm" method="post" action="" role="form" name="add_user">
                        {{ form.hidden_tag() }}
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                {{ form.username(class_="form-control", placeholder="Username", required=True)}}
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">phone</i>
                            </span>
                            <div class="form-line">
                                {{ form.phone_number(class_="form-control", placeholder="Phone Number (+254 7XXXXXXXX)",
                                required=True)}}
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">attach_money</i>
                            </span>
                            <div class="form-line">
                                {{ form.account_balance(class_="form-control",placeholder="Top up", required=True)}}
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">location_city</i>
                            </span>
                            <div class="form-line">
                                {{ form.role(class_="form-control show-tick", required=True, autofocus=True)}}
                            </div>
                        </div>
                        {{ form.submit(class_="btn btn-link waves-effect")}}
                        <button type="button" class="btn btn-link waves-effect pull-right" data-dismiss="modal">CLOSE
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block table_scripts %}
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/pages/tables/jquery-datatable.js') }}"></script>
    {% endblock %}