{% extends "base.html" %}
{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-warning btn-lg">Account Balance {{ user.account.balance }}</button>
            </div>
            <div class="panel-body"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <style>
                            .cstimg {
                            height: 256px;
                            width: 256px;
                            radius: 2px;
                            padding: 2px;
                            }
                            .qr {
                            padding: 0;
                            height: 20px;
                            width: 20px;
                            .product_view .modal-dialog{max-width: 800px; width: 100%;}
                            .pre-cost{text-decoration: line-through; color: #a5a5a5;}
                            .space-ten{padding: 10px 0;}
                            }
                        </style>
                        <div class="panel">
                            <div class="panel-body">
                                <div class="col-lg-5">
                                    <img class="cstimg img img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
                                </div>
                                <div class="det col-lg-7">
                                <h4>{{ user.username }}</h4>
                                {% if user.name or user.location %}
                                <p>
                                    {% if user.name %}{{ user.name }}{% endif %}
                                    {% if user.location %}
                                    From <a href="http://maps.google.com/?q={{ user.location }}">
                                    {{ user.location }}
                                </a>
                                    {% endif %}
                                </p>
                                {% endif %}
                                {% if current_user.is_administrator() %}
                                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                                {% endif %}
                                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                                <p>
                                    Member since {{ moment(user.member_since).format('L') }}
                                    Last seen {{ moment(user.last_seen).fromNow() }}
                                    {% if current_user.is_administrator() %}<a href="{{ url_for('.edit_profile_admin', id=user.id) }}"><span class="label label-danger pull-right">Edit Profile</span></a>{% endif %}
                                    {% if user == current_user and not current_user.is_administrator() %}<a href="{{ url_for('.edit_profile', id=user.id) }}"><span class="label label-primary pull-right">Edit Profile</span></a>{% endif %}
                                </p>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% with tickets = user.account.tickets %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h5>{{ user.username }}'s tickets</h5>
                            </div>
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Type</th>
                                        <th>Event Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ticket in tickets %}
                                    <tr class="odd gradeX">
                                        <td>{{ loop.index0 + 1 }}</td>
                                        <td><img class="qr img img-rounded profile-thumbnail" src="{{ qrcode( (ticket.id, user.id) ) }}"></td>
                                        <td>{{ ticket.type }}</td>
                                        <td class="center">{{ ticket.event.title }}</td>
                                        <td class="center"><!-- Accent-colored raised button with ripple -->
                                            <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                                            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent">Print</button>-->
                                        </td>
                                        <div class="modal fade product_view" id="product_view">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                                        <h3 class="modal-title">{{ ticket.type }}</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-6 product_img">
                                                                <img src="{{ qrcode( (ticket.id, user.id) ) }}" class="img-responsive">
                                                            </div>
                                                            <div class="col-md-6 product_content">
                                                                <h4>Ticket Id: <span>{{ ticket.id }}</span></h4>
                                                                <p>{{ ticket.event.description }}</p>
                                                                <h3 class="cost">Price {{ ticket.price }}</span></h3>
                                                                <div class="space-ten"></div>
                                                                <div class="btn-ground">
                                                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
                                                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><span class="glyphicon glyphicon-inbox"></span> Email</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
                </div>
    </div>
    </div>
</div>

{% endblock %}