{% extends "base.html" %} {% block users %}class="active"{% endblock %} {% block all_users %}class="active"{% endblock %}
{% block custom_css %}
<!-- JQuery DataTable Css -->
<link href="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet"> {% endblock %}
{% block table_scripts %}

    <script src="{{ url_for('static', filename='plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/pages/tables/jquery-datatable.js') }}"></script>
{% endblock %}
{% block page_content %}
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    All Members
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{{ url_for('main.add_user') }}">Add Member</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                {% if users%}
                    
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>code</th>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>member since</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>code</th>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>member since</th>
                            </tr>
                        </tfoot>
                        <tbody>
                                {% for user in users %}
                                <tr class="odd gradeX">
                                    <td><a href="{{ url_for('main.get_user', slug=user.slug) }}">{{ user.code }}</a></td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.phone_number }}</td>
                                    <td class="center">{{ user.email }}</td>
                                    <td><span class="label label-primary">{{ moment(user.member_since).format('L') }}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <h4>No users registered with the system yet</h4>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}