{% extends "base.html" %} {% block users %}class="active"{% endblock %} {% block all_users %}class="active"{% endblock %}
{% block custom_css %}
<!-- JQuery DataTable Css -->
<link href="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet"> {% endblock %} {% block table_scripts %}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
{% endblock %} {% block custom_scipts %} {{ moment.include_moment() }}
<script src="{{ url_for('static', filename='js/pages/tables/jquery-datatable.js') }}"></script>
{% endblock %}
<{% block page_content %} <style>
    .profile-thumbnail { width: 100%; height: 100%; border-radius: 200px; align-self: center; }
    </style>
    <div class="block-header">
        <button type="button" class="btn btn-warning btn-lg">Account Balance {{ user.account.balance_available }}</button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <!--Card Regular-->
            <div class="card">
                <div class="header">
                    <h2>
                        {{ user.username }}
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                            <ul class="dropdown-menu pull-right">
                                {% if current_user.is_administrator()%}
                                <li><a href="{{ url_for('main.edit_profile_admin', id=user.id) }}">Update Profile</a></li>
                                {% endif %} {% if user == current_user and not current_user.is_administrator() %}
                                <li><a href="{{ url_for('.edit_profile', id=user.id) }}">Update Profile</a></li>
                                {% endif %}

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body container-fluid">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="cstimg img-responsive img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                            {% if user.name %}
                            <p>
                                {% if user.name %}{{ user.name }}{% endif %} {% if user.city %} From <a href="http://maps.google.com/?q={{ user.country }}{{ user.city }}">
                                        {{ user.city }}
                                    </a> {% endif %}
                            </p>
                            {% endif %} {% if current_user.is_administrator() %}
                            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                            {% endif %}
                            <p>
                                Member since {{ moment(user.member_since).format('L') }} Last seen {{ moment(user.last_seen).fromNow() }}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.Card Regular-->
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        {{ user.username }}'s Tickets
                    </h2>
                </div>

                {% with purchases = user.account.purchases %}
                <div class="body">
                    {% if has_purchases %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Type</th>
                                    <th>Event Name</th>
                                    <th>Reedemed</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Type</th>
                                    <th>Event Name</th>
                                    <th>Reedemed</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for purchase in purchases %}
                                <tr class="odd gradeX">
                                    <td>{{ loop.index0 + 1 }}</td>
                                    <td>{{ purchase.code }}</td>
                                    <td>{{ purchase.ticket.type }}</td>
                                    <td class="center">{{ purchase.ticket.event.title }}</td>
                                    <td class="center">{{ purchase.confirmed }}</td>
                                    <td class="center">
                                        <!-- Accent-colored raised button with ripple -->
                                        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
                                        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent">Print</button>-->
                                    </td>
                                    {% include '_purchase_modal.html' %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            </tbody>
                        </table>
                        {% else %}
                        <h4>{{ user.username }} has no tickets yet</h4>
                        {% endif %}
                    </div>
                    {% endwith %}
                </div>



            </div>
        </div>

    </div>

    {% endblock %}