{% extends "bootstrap/base.html" %}
{% block metas %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
{% endblock %}
{% block title %}{% block title_text%}error{% endblock %} | Cash Value Solution - Dashboard{% endblock %}

{% block styles %}
<!-- Favicon-->
<link rel="icon" href="s3://cashvaluesolution-assets/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<!-- Bootstrap Core Css -->
<link href="s3://cashvaluesolution-assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Waves Effect Css -->
<link href="s3://cashvaluesolution-assets/plugins/node-waves/waves.css" rel="stylesheet" />

<!-- Custom Css -->
<link href="s3://cashvaluesolution-assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% block page_content %}
    {% endblock %}
{% endblock %}
{% block scripts %}
<!-- Jquery Core Js -->
<script src="s3://cashvaluesolution-assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="s3://cashvaluesolution-assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="s3://cashvaluesolution-assets/plugins/node-waves/waves.js"></script>
{% endblock %}