 {% extends "base.html" %}
 {% import "bootstrap/wtf.html" as wtf %}
 {% block page %} Editing {{ event.name }}{% endblock %}
{% block event %}class="active"{% endblock %}
{% block events %}class="active"{% endblock %}
 {% block page_content %}
<div class="container-fluid">
    <div class="block-header">
        <!-- Event Info -->
        <ol class="breadcrumb breadcrumb-col-orange">
            <li><a href="{{ url_for('.get_events')}}"><i class="material-icons">home</i> Events</a></li>
            <li><a href="{{ url_for('.get_event', id=event.id)}}"><i class="material-icons">event_available</i> Event Details</a></li>
            <li class="active"><i class="material-icons">mode_edit</i> Edit Event Details</li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2 class="title-text">
                        Event Details
                    </h2>
                </div>
                <div class="body">
                    <div class="container-fluid">
                        <form action="" class="form" data-eventId="{{ event.id }}" method="post"
                              enctype="multipart/form-data" id="edit_eventForm"
                              data-placement-from="bottom" data-placement-align="center"
                              data-animate-enter="" data-animate-exit="" data-color-name="bg-green">
                                    <div class="form-group  required">{{ edit_eventForm.hidden_tag() }}
                                        <div class="col-md-12">
                                            <b>Event Title</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">bookmark</i></span>
                                                    <div class="form-line">
                                                        {{ edit_eventForm.title(class_="form-control", placeholder="A short heading for your event", required=True) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <b>Description</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">description</i></span>
                                                    <div class="form-line">
                                                        {{ edit_eventForm.description(class_="form-control", placeholder="Say something about the event", required=True) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <b>Venue</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">local_bar</i></span>
                                                    <div class="form-line">
                                                        {{ edit_eventForm.venue(class_="form-control", placeholder="Place where the event will be held", required=True) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <b>Location</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">location_on</i></span>
                                                    <div class="form-line">
                                                        {{ edit_eventForm.location(class_="form-control", placeholder="Town/City/location where the event will take place", required=True) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <b>Date</b>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">today</i></span>
                                                    <div class="form-line">
                                                          {{ edit_eventForm.date(class_="form-control datepicker", placeholder="Date and Time for event") }}
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <button class="btn btn-success waves-effect" id='editEventButton' type="submit">Update</button>

                                            <div class="preloader pl-size-sm" id="edit-event-preloader" style="display:none">
                                                <div class="spinner-layer pl-orange">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h2 class="title-text">Tickets</h2>
                    {% if event.can_add_tickets() %}
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a class="dropdown-toggle btn btn-success btn-sm waves-effect"  data-toggle="modal" role="button" data-target="#add_ticketModal" aria-haspopup="true" aria-expanded="false">
                                <span>Add Ticket</span><i class="material-icons">add</i>
                            </a>
                    </ul>
                    {% endif %}
                </div>
                <div class="body">
                    {% if tickets %}
                    <!-- /.col-lg-4 -->
                    <div class="row clearfix">
                        {% for ticket in tickets %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2 class="title-text text-info">{{ ticket.type.name }} ticket Details</h2>
                                </div>
                                <div class="body">
                                    <form class="edit-ticket" id="{{ ticket.id }}" method="post" action="" role="form" name="register">
                                        {{ edit_ticketForm.hidden_tag() }}
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">attach_money</i>
                                            </span>
                                            <div class="form-line">
                                                {{ edit_ticketForm.price(class_="form-control price", value=ticket.price,required=True, autofocus=True, id="price")}}
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">group</i>
                                            </span>
                                            <div class="form-line">
                                                {{ edit_ticketForm.count(class_="form-control count", value=ticket.count,required=True, autofocus=True, id="count")}}
                                            </div>
                                        </div>
                                        <div class="form-group edit-ticket-button">
                                            <button type="button" class="btn btn-success waves-effect edit-ticket" data-ticketid="{{ticket.id}}" data-placement-from="bottom"
                                                    data-placement-align="center" data-animate-enter="" data-animate-exit="" data-color-name="bg-green">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--addTicket modal-->
    <div class="modal fade" id="add_ticketModal" tabindex="-1" role="dialog" id="edit">
        <div class="modal-dialog modal-sm" role="document">
        <div class="card">
            <div class="header">
                <h2 class="title-text">{{ event.name}}<small> add ticket</small></h2>
            </div>
                <form id="add_ticketForm" data-ticket-eventId="{{ event.id }}" method="post" action="" role="form" name="add_Ticket" data-placement-from="bottom"
                            data-placement-align="center" data-animate-enter="" data-animate-exit="" data-color-name="bg-green">
                    <div class="body modal-body">
                    {{ create_ticketForm.hidden_tag() }}
                    <div class="input-group">
                        <span class="input-group-addon">
                                <i class="material-icons">info</i>
                            </span>
                        <div class="form-line">
                            {{ create_ticketForm.type(class_="show-tick") }}

                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                                        <i class="material-icons">attach_money</i>
                                    </span>
                        <div class="form-line">
                            {{ create_ticketForm.price(class_="form-control", placeholder="Price " + event.currency_code,required=True, autofocus=True)}}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                                            <i class="material-icons">group</i>
                                        </span>
                        <div class="form-line">
                            {{ create_ticketForm.count(class_="form-control", placeholder="Number of Tickets",required=True, autofocus=True)}}

                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        {{ create_ticketForm.submit(class_="btn btn-sm bg-orange waves-effect add_tiket_button") }}
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--end editTicket modal-->
</div>
{% endblock %}