 {% extends "base.html" %} {% block custom_css %}
 {% endblock %}
 {% block event %}class="active"{% endblock %} {% block events %}class="active"{% endblock %}
 {% import "bootstrap/wtf.html" as wtf %} {% import "bootstrap/wtf.html" as wtf %}
 {% block page %}{{ event.name }} Details{% endblock %}
 {% block page_content%}
<div class="container-fluid">
    <div class="row clearfix">
        <ol class="breadcrumb breadcrumb-col-orange">
            <li><a href="{{ url_for('.get_events')}}"><i class="material-icons">home</i> Events</a></li>
            <li class="active"><i class="material-icons">event_available</i> Event Details</li>
            <li><a href="{{ url_for('.edit_event', id=event.id)}}"><i class="material-icons">mode_edit</i> Edit Event Details</a></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

                <div class="card">
                    <div class="header">
                        <h2>{{ event.title }}</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#defaultModal">Edit</a></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="container-fluid">
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <h5 class="text-warning">{{ event.description }}</h5>
                                <p><a href="http://maps.google.com/?q={{ event.location }}{{ event.venue }}">{{ event.venue }}</a></p>
                                {{ event.location }}<br/>{{ event.day }}<br/>
                                <!-- edit and delete event modals -->
                                <!-- #END# Edit and delete event modals -->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                {% if purchases %}
                <div class="header">
                    <h2>Purchased Tickets</h2>

                </div>
                <div class="body">
                    {% include('_event_detail.html') %}

                </div>
                {% else %}
                <div class="header">
                    <h2>No ticket Has been bought yet</h2>

                </div>
                {% endif %}
            </div>
        </div>
        <!-- #END# Tickets -->
    </div>
</div>
{% endblock %} {% block table_scripts %}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
{% endblock %} {% block custom_scipts %}
<script src="{{ url_for('static', filename='js/pages/tables/jquery-datatable.js') }}"></script>
 <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}