{% extends "base.html" %} {% block custom_css %}
{% endblock %}
{% block event %}class="active"{% endblock %} {% block events %}class="active"{% endblock %}
{% import "bootstrap/wtf.html" as wtf %} {% import "bootstrap/wtf.html" as wtf %}
{% block page %}{{ event.name }} Details{% endblock %}
{% block page_content%}
<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-col-orange">
            <li><a href="{{ url_for('.get_events')}}"><i class="material-icons">home</i> Events</a></li>
            <li class="active"><i class="material-icons">event_available</i> Event Details</li>
            <li><a href="{{ url_for('.edit_event', slug=event.slug)}}"><i class="material-icons">mode_edit</i> Edit
                Event Details</a></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3 bg-brown hover-expand-effect">
                <div class="icon">
                    <span class="chart chart-line">{% for i in daily_saleschart%}{{i}},{% endfor %}</span>
                </div>
                <div class="content">
                    <div class="text">TODAYS SALES</div>
                    <div class="number">{{ event.currency_code }} {{ daily_sales }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3 bg-grey hover-expand-effect">
                <div class="icon">
                    <span class="chart chart-line">{% for i in sales_chart %}{{i}},{% endfor %}</span>
                </div>
                <div class="content">
                    <div class="text">TOTAL SALES</div>
                    <div class="number">{{ event.currency_code }} {{ total_sales }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3 bg-blue-grey hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">shopping_cart</i>
                </div>
                <div class="content">
                    <div class="text">TICKETS SOLD</div>
                    <div class="number count-to" data-from="0" data-to="{{ tickets_sold }}" data-speed="1000"
                         data-fresh-interval="20">{{ tickets_sold }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box-3 bg-black hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">face</i>
                </div>
                <div class="content">
                    <div class="text">TICKETS REMAINING</div>
                    <div class="number count-to" data-from="0" data-to="{{ event.remaining_tickets() }}"
                         data-speed="1000" data-fresh-interval="20">{{ event.remaining_tickets() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Purchased Tickets</h2>

                </div>
                <div class="body">
                    {% if tickets %}
                    <div class="table-responsive">
                        <table class="table table-hover dataTable js-exportable">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Ticket code</th>
                                <th>Purchaser Username</th>
                                <th>Date of Purchase</th>
                                <th>Number of Tickets Bought</th>
                                <th>Ticket Type</th>
                                <th>Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for ticket in tickets %}
                            <tr>
                                <td>
                                    <a type="button" class="btn bg-primary waves-effect btn-xs"
                                       href="{{ url_for('main.download_ticket', code=ticket.code)}}">
                                        <i class="material-icons">get_app</i>

                                    </a>
                                <td>{{ ticket.code }}</td>
                                <td>{{ ticket.user.username }}</td>
                                <td>{{ moment(ticket.created_at).format('MM/DD/YY') }}</td>
                                <td>{{ ticket.number }}</td>
                                <td>{{ ticket.package.type.name }}</td>
                                <td>
                                    {% if ticket.confirmed %}
                                    <span class="label label-success">Confirmed</span>
                                    {% else %}
                                    <span class="label label-danger">Not Confirmed</span>
                                    {% endif %}
                                </td>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% else %}

                    <h2>No ticket Has been bought yet</h2>
                </div>

                {% endif %}
            </div>
        </div>
        <!-- #END# Tickets -->
    </div>
</div>
{% endblock %}
{% block table_scripts %}
{{super()}}
<script src="https://s3.eu-west-2.amazonaws.com/cashvaluesolution-assets/js/pages/widgets/infobox/infobox-4.js"></script>
{% endblock %}