 {% extends "base.html" %} 
 {% block custom_css %}
 <!-- JQuery DataTable Css -->
 <link href="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}
 {% block event %}class="active"{% endblock %} {% block events %}class="active"{% endblock %} {%
import "bootstrap/wtf.html" as wtf %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Events - {{ event.title }}{%
endblock %}
{% block page_content %}
<div class="row clearfix">
    <!-- Event Info -->
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h2>{{ event.title }}</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#defaultModal">Edit</a></li>
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal">Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="container-fluid">
                        {% if event.logo_url %}
                        <style>

                            .img {
                                height: 100%;
                                width: 100%;
                            }
                        </style>

                        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">

                            <img class="img img-responsive" src="{{event.logo_url}}">
                        </div>
                        {% endif %}
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                <h5 class="text-warning">{{ event.description }}</h5>
                                <p><a href="http://maps.google.com/?q={{ event.location }}{{ event.venue }}">{{ event.venue }}</a></p>                                {{ event.location }}<br/>{{ event.day }}<br/>
                            <!-- edit and delete event modals -->
                            {% include('_delete_event.html') %} {% include('_edit_event.html') %}
                            <!-- #END# Edit and delete event modals -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="card">
                {% if purchases %} 
                <div class="header">
                    <h2>Purchased Tickets</h2>

                </div>
                <div class="body">
                        {% include('_event_detail.html') %}

                </div>
                {% else %}
                <div class="header">
                        <h2>No ticket Has been bought yet</h2>
              
              </div>
              {% endif %}
            </div>
        </div>
    </div>
        <!-- #END# Event Info -->
        <!-- Tickets -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2>Tickets</h2>
                    <!-- Colored FAB button -->
                    {% if event.can_add_tickets() %}

                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#ticketModal">Add Ticket</a></li>
                            </ul>
                        </li>
                    </ul>
                    </a>
                    {% endif %}
                </div>
                <div class="body">
                    <div class="container-fluid">
                        {% if tickets %} {% include '_tickets.html' %} {% else %}<h3>No tickets available</h3>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ticketModal"><span class="fa fa-plus "></span>&nbsp; Add a Ticket</button>
                {%endif %}

                    </div>

                </div>
            </div>
        </div>
        {% include '_add_ticket.html' %}
        <!-- #END# Tickets -->
    </div>
    {% endblock %}
    {% block table_scripts %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
    {% endblock %}
    {% block custom_scipts %}
    <script src="{{ url_for('static', filename='js/pages/tables/jquery-datatable.js') }}"></script>
    {% endblock %}
    