<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Print Ticket | Cash Value Solutions</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/ticket_styles.css')}}" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <td>
            <h3>E-Ticket<small class="text-muted"><br/>present this ticket at the venue</small></h3>
        </td>

    </tr>
</table>
<table>
    <tr>
        <td>
    <table>
        <tr>
            Welcome to The {{ ticket.package.event.title }} event
            {{ ticket.package.event.description }}
        </tr>

    <tr>
        <td>EVENT DATE</td><td>{{ ticket.package.event.day }}</td>
    </tr>
    <tr>
        <td>LOCATION</td><td>{{ ticket.package.event.address.location }}, {{ ticket.package.event.address.city }}</td>
    </tr>
    <tr>
        <td>PURCHASERUSERNAME</td><td>{{ user.username }}</td>
    </tr>
        <tr>
        <td>TICKET NO</td><td>{{ ticket.id }}</td>
            </tr>
    </table>
            <table>
                <tr>
                <th>TICKET TYPE</th>
                <th>PRICE</th>
                <th>TICKET CODE</th>
                </tr>
                <tr>
                    <td>{{ ticket.package.type.name }}</td>
                    <td>{{ ticket.package.price }}</td>
                    <td>{{ ticket.code }}</td>
                </tr>
            </table>
        </td>

    <td>
        <h3>This ticket admits {{ ticket.number }} persons</h3>
        <img src="{{ qrcode( ticket.code ) }}">
    </td>
</table>
</body>
</html>
