{% extends "bootstrap/base.html" %} {% block metas %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {% endblock %} {% block title %}Welcome To | Cash Value Solutions - Dashboard{% endblock %}
<!-- Favicon-->
{% block favicon %}
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"> {% endblock %} {% block styles %}

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<!-- Bootstrap Core Css -->
<link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

<!-- Waves Effect Css -->
<link href="{{ url_for('static', filename='plugins/node-waves/waves.css') }}" rel="stylesheet" />

<!-- Animation Css -->
<link href="{{ url_for('static', filename='plugins/animate-css/animate.css') }}" rel="stylesheet" />

<!-- Morris Chart Css-->
<link href="{{ url_for('static', filename='plugins/morrisjs/morris.css') }}" rel="stylesheet" /> {% block custom_css %} {% endblock %}
<!-- datetime picker css -->
<link href="{{ url_for('static', filename='plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}"
    rel="stylesheet" />

<!-- Custom Css -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

<!-- AdminBSB Themes. -->
<link href="{{ url_for('static', filename='css/theme-orange.css') }}" rel="stylesheet" /> {% endblock %} {% block body_attribs %} class="container-fluid"{% endblock %} {% block content %}
<div class="container-fluid">

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {% include '_purchase.html' %}
    </div>
</div>
{% endblock %}