{% extends "base.html" %} {% block custom_css %}
{% endblock %}
{% block sms %}class="active"{% endblock %} {% block view_campaigns %}class="active"{% endblock %}
{% import "bootstrap/wtf.html" as wtf %} {% import "bootstrap/wtf.html" as wtf %}
{% block page %}SMS Campaigns - {{ campaign.title }} details{% endblock %}
{% block page_content%}
<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-col-orange">
            <li><a href="{{ url_for('.sms_campaigns') }}"><i class="material-icons">home</i> Console Home</a></li>
            <li class="active"><i class="material-icons">event_available</i> Campaign Details</li>
            <li><a href="javascript:void(0)"><i class="material-icons">view_module</i> Choices Details</a></li>
        </ol>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            created on <span
                class="badge badge-default">{{ moment(campaign.timestamp).format("Do/M/YYYY, h:mm:ss a")}}</span>
            {% if campaign.expired %}Expired <span class="badge bg-red">{{ moment(campaign.expiry).fromNow()}}</span>{%
            else %}Expires <span class="badge bg-orange">{{ moment(campaign.expiry).fromNow()}}</span>
            Number of Participants <span class="badge badge-default">{{ subscribers.count() }}</span>
            {% endif %}
            <a class="btn btn-danger btn-xs" href="{{ url_for('.delete_campaign', id=campaign.id)}}"><i
                    class="material-icons">delete</i><span>Delete</span></a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="container-fluid">
                        <style>
                            #col1, #col2 {
                               margin-bottom: 0px;
                            }



                        </style>
                        <div class="row clearfix">
                            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6" id="col1">
                                <h4 class="text-info">
                                    {{ campaign.title }} Choices
                                </h4>
                            </div>

                            <div class="col-md-9 col-lg-9 col-xs-6 col-sm-6" id="col2">
                                <button type="button"
                                        class="btn bg-green btn-circle waves-effect waves-circle waves-float pull-right"
                                        data-toggle="modal" role="button" data-target="#createChoiceModal"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="row clearfix">
                            {% if choices %}
                            <div class="table-responsive">
                                <table class="table table-hover dataTable js-exportable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Keyword</th>
                                        <th>Votes</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for choice in choices %}
                                    <tr>
                                        <td>{{ loop.index }}
                                        </td>
                                        <td><a href="{{ url_for('.choice_details', keyword=choice.keyword) }}">{{ choice.name }}</a></td>
                                        <td>{{ choice.keyword }}</td>
                                        <td>{{ choice.subscribers.count() }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modal fade" id="createChoiceModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="card">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h2 class="modal-title float-center">New Choice for {{ campaign.title }}</h2>
                            </div>
                            <div class="modal-body">
                                <form id="add_choice" method="post" action="" role="form" name="add_choice"
                                      enctype=multipart/form-data>
                                    {{ form.hidden_tag() }}
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <label for="title">Choice Name</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form.name(class_='form-control', required=True) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="title">Choice Keyword</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    {{ form.keyword(class_='form-control', required=True) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form.submit(class_="btn bg-green waves-effect")}}
                                    <button type="button" class="btn btn-link waves-effect pull-right"
                                            data-dismiss="modal">
                                        CLOSE
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}