{% extends "base.html" %} {% block custom_css %}
{% endblock %}
{% block sms %}class="active"{% endblock %} {% block view_campaigns %}class="active"{% endblock %}
{% import "bootstrap/wtf.html" as wtf %} {% import "bootstrap/wtf.html" as wtf %}
{% block page %}SMS Campaigns - {{ campaign.title }} details{% endblock %}
{% block page_content%}
<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-col-orange">
            <li><a href="javascript:void(0)"><i class="material-icons">home</i> Console Home</a></li>
            <li class="active"><i class="material-icons">event_available</i> Campaign Details</li>
            <li><a href="javascript:void(0)"><i class="material-icons">mode_edit</i> Edit Campaign Details</a></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2 class="title-text">Available Choices</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a class="dropdown-toggle btn btn-success btn-sm waves-effect"  data-toggle="modal" role="button" data-target="#add_packageModal" aria-haspopup="true" aria-expanded="false">
                                <span>Add Choice</span><i class="material-icons">add</i>
                            </a>
                    </ul>
                </div>
                <div class="body">
                    {% if campaign.choices %}
                    <!-- /.col-lg-4 -->
                    <div class="row clearfix">
                        {% for package in packages %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2 class="title-text text-info">{{ package.type.name }} Package Details</h2>
                                </div>
                                <div class="body">
                                    <form class="edit-package" id="{{ package.id }}" method="post" action="" role="form" name="register">
                                        {{ edit_packageForm.hidden_tag() }}
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">attach_money</i>
                                            </span>
                                            <div class="form-line">
                                                {{ edit_packageForm.price(class_="form-control price", value=package.price,required=True, autofocus=True, id="price")}}
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">group</i>
                                            </span>
                                            <div class="form-line">
                                                {{ edit_packageForm.number(class_="form-control number", value=package.remaining,required=True, autofocus=True, id="number")}}
                                            </div>
                                        </div>
                                        <div class="form-group edit-package-button">
                                            <button type="button" class="btn btn-success waves-effect edit-package" data-packageid="{{package.id}}" data-placement-from="bottom"
                                                    data-placement-align="center" data-animate-enter="" data-animate-exit="" data-color-name="bg-green">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--addPackage modal-->
    <div class="modal fade" id="add_packageModal" tabindex="-1" role="dialog" id="edit">
        <div class="modal-dialog modal-sm" role="document">
        <div class="card">
            <div class="header">
                <h2 class="title-text">{{ event.name}}<small> add package</small></h2>
            </div>
                <form id="add_packageForm" data-package-eventId="{{ event.id }}" method="post" action="" role="form" name="add_Package" data-placement-from="bottom"
                            data-placement-align="center" data-animate-enter="" data-animate-exit="" data-color-name="bg-green">
                    <div class="body modal-body">
                    {{ create_packageForm.hidden_tag() }}
                    <div class="input-group">
                        <span class="input-group-addon">
                                <i class="material-icons">info</i>
                            </span>
                        <div class="form-line">
                            {{ create_packageForm.type(class_="show-tick") }}

                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                                        <i class="material-icons">attach_money</i>
                                    </span>
                        <div class="form-line">
                            {{ create_packageForm.price(class_="form-control", placeholder="Price " + event.address.code.currency_code ,required=True, autofocus=True)}}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                                            <i class="material-icons">group</i>
                                        </span>
                        <div class="form-line">
                            {{ create_packageForm.number(class_="form-control", placeholder="Number of Packages",required=True, autofocus=True)}}

                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        {{ create_packageForm.submit(class_="btn btn-sm bg-orange waves-effect add_tiket_button") }}
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--end editPackage modal-->
</div>
{% endblock %}