{% extends "base.html" %} {% block custom_css %}
{% endblock %}
{% block sms %}class="active"{% endblock %} {% block start_campaign %}class="active"{% endblock %}
{% import "bootstrap/wtf.html" as wtf %} {% import "bootstrap/wtf.html" as wtf %}
{% block page %}Start SMS Campaign{% endblock %}
{% block page_content%}
<div class="container-fluid">
    <div class="block-header">
        <ol class="breadcrumb breadcrumb-col-orange">
            <li class="active"><i class="material-icons">home</i> Console Home</li>
            <li><a href="javascript:void(0)"><i class="material-icons">event_available</i> Message Details</li>
            <li><a href="javascript:void(0)"><i class="material-icons">mode_edit</i> Edit Message Details</a></li>
        </ol>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="container-fluid">
                        <style>
                            #col1, #col2, #col3 {
                               margin-bottom: 0px;
                            }

                        </style>
                        <div class="row clearfix">
                            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6" id="col1">
                                <h4 class="text-info">
                                    Bulk SMS
                                </h4>
                            </div>

                            <div class="col-md-9 col-lg-9 col-xs-6 col-sm-6" id="col2">
                                <button type="button"
                                        class="btn bg-green btn-circle waves-effect waves-circle waves-float pull-right"
                                        data-toggle="modal" data-target="#add_smsModal">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="row clearfix">
                            {% if messages %}
                            <div class="table-responsive">
                                <table class="table table-hover dataTable js-exportable">
                                    <thead>
                                    <tr>
                                        <th>title</th>
                                        <th>Number of suscribers</th>
                                        <th>expiry date</th>
                                        <th>date created</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for message in messages %}
                                    <tr class="odd gradeX">
                                        <td><a href="{{url_for('.sms_details', slug=message.slug)}}">{{ message.title }}</a></td>
                                        <td>{{ message.subscriptions.count() }}</td>
                                        <td>{{ moment(message.expiry).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                                        <td>{{ moment(message.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                                        <td><span class='badge {% if message.status == "Expired"%}bg-red{% else %}bg-green{% endif %}'>{{ message.status }}</span></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="body">
                    <h4>No Bulk SMS registered with the system yet</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--add bulk sms modal-->
        <div class="modal fade" id="add_smsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Bulk SMS
                                <small>New sms</small>
                            </h2>
                        </div>
                        <div class="body">
                            <form id="add_sms" method="post" action="" role="form" name="add_sms" enctype=multipart/form-data>
                                {{ form.hidden_tag() }}
                                <label for="title">Message Title</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form.title(class_='form-control', required=True) }}
                                    </div>
                                </div>
                                <label for="body">Message Body</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form.body(class_='form-control', required=True) }}
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">

                                        <label for="startdate">Start On</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.startdate(class_="form-control datepicker", required=True) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="enddate">Stop On</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.enddate(class_="form-control datepicker", required=True) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4">
                                        <label for="interval">Send Messages</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.interval(class_='form-control') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <label for="subscriptions">Upload an excel of phonenumbers</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{ form.subscriptions(required=True) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form.submit(class_="btn bg-green waves-effect")}}
                                <button type="button" class="btn btn-link waves-effect pull-right" data-dismiss="modal">CLOSE
                        </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
