<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="alert">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel">Delete {{ event.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <p class="text-info">Are you sure you want to delete {{event.title}}?</br><i class="text-danger">This operation cannot be reversed!</i></p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
        <a href="{{ url_for('.delete_event', event_id=event.id) }}" type="button" class="btn btn-danger"><span class="fa fa-trash fa-fw"></span>Delete</a>
      </div>
    </div>
  </div>
</div>