<!-- /.col-lg-4 -->
<div class="row clearfix">
    {% for ticket in tickets %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="info-box">
                    <div class="icon bg-orange">
                            <i class="material-icons">bookmark</i>
                        </div>
                <div class="content">
                    <div class="text">{{ ticket.type }} <small class="text-muted">Remaining {{ ticket.count }}<small></div>
                    <div class="number">{{ event.location.currency_code }}.{{ ticket.price }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>