<!-- /.col-lg-4 -->
<div class="row clearfix">
    {% for edit_ticket_form in edit_ticket_forms %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card">
            <div class="header">
                <h5>{{ edit_ticket_form.ticket.type }} ticket</h5>
            </div>
            <div class="body">
                <form id="sign_up" method="post" action="" role="form" name="register">
                    {{ edit_ticket_form.hidden_tag() }}
                   
                    <div class="input-group">
                        <span class="input-group-addon">
                                            <i class="material-icons">attach_money</i>
                                        </span>
                        <div class="form-line">
                            {{ edit_ticket_form.price(class_="form-control", placeholder="Price " + event.location.currency_code,required=True, autofocus=True)}}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                                                <i class="material-icons">group</i>
                                            </span>
                        <div class="form-line">
                            {{ edit_ticket_form.count(class_="form-control", placeholder="Number of Tickets",required=True, autofocus=True)}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ edit_ticket_form.submit(class_="btn btn-lnk btn-sm bg-orange waves-effect") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>