   <!-- /.col-lg-4 -->
   {% for ticket in tickets %}
   <div class="col-lg-3">
       <div class="well well-sm">
           Type {{ ticket.type }}<br/>
           Price {{ ticket.price }}<br/>
           Remaining {{ ticket.count }}<br/>

       </div>
   </div>
   {% endfor %}
   <!-- Colored FAB button -->
   {% if event.can_add_tickets() %}
   <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" href="{{ url_for('main.add_ticket', event_id=event.id) }}">
       <div id="tt4" class="material-icons">add</div>
       <div class="mdl-tooltip" for="tt4">
           Add tickets
       </div>
   </a>
   {% endif %}

